.main {
	background-color: #f7f8f9;
	height: inherit;
	display: flex;
	flex-direction: row;
	padding: 2% 2% 2% 2%;
	align-items: stretch;
	column-gap: 10%;
}

.image-placeholder {
	width: 50%;
	height: 100%;
}

.button-menu {
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-between;
	margin: 2% 2% 2% 2%;
}

.menu {
	display: flex;
	flex-direction: column;
	min-width: 20%;
}