.shape-list {
	background-color: #e3e3e3;
	border: 1px solid black;
	border-radius: 0.3rem;
	box-shadow: 0 0 10px #1e252b26;
	min-height: 10%;
	max-height: 90%;
	overflow: scroll;
}

ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

li {
	margin-top: 2%;
}